Body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.Animation{
    display: grid;
    grid-template-columns: 10vh, repeat(10, 1fr);
    height: 100vh;
    width: 100%;
    grid-column-gap: 0;
}

.g1{
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
    animation: RotateBG 15s linear infinite;
    -webkit-animation: RotateBG 15s linear infinite;
}

.g2{
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
    animation: RotateBG2 15s linear infinite;
    -webkit-animation: RotateBG2 15s linear infinite;
}

@keyframes RotateBG {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
 
    }to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    
}

@keyframes RotateBG2 {
    from {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
 
    }to{
        transform: rotate(0deg);
        -webkit-transform: rorate(0deg);
    }
    
}